@model Review 
@{
    ViewData["Title"] = "Add";
}
@{
    SelectList UserId = new SelectList(ViewBag.UserId, "Id", "Name");
    SelectList CompanyID = new SelectList(ViewBag.CompanyID, "Id", "Name");
}
<form asp-action="SaveAdd" asp-controller="Review">
    <div class="mb-3">
        <label asp-for="Reviewtext" class="form-label">Review text</label>
        <input class="form-control" asp-for="Reviewtext">
        <span asp-validation-for="Reviewtext" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Rating" class="form-label">Rating</label>
        <input class="form-control" asp-for="Rating">
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" asp-for="UserId" asp-items="UserId">
            <option value="0">--Select The Poster--</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" asp-for="CompanyID" asp-items="CompanyID">
            <option value="0">--Select The Company Name--</option>
        </select>
        <span asp-validation-for="CompanyID" class="text-danger"></span>
    </div>
    <div class="button-container">
    <button type="submit" value="Create" class="btn btn-primary">Submit</button>
</form>
<a asp-action="Index" asp-controller="Review"><button class="btn btn-danger">Back</button></a>
</div>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
