@model List<Review>
@{
    ViewData["Title"] = "Index";
}
<a href="/Review/Add" class="btn btn-primary">Add Review</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Review Rating</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">@item.Rating</th>
                <th scope="row">
                    <a href="/Review/Details/@item.Id" class="btn btn-outline-primary">Details</a>
                </th>
                <th scope="row">
                    <a href="/Review/Edit/@item.Id" class="btn btn-outline-primary">Edit</a>
                </th>
                <th scope="row">
                    <a href="/Review/Delete/@item.Id" class="btn btn-outline-danger">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>