@model Company 
@{
    ViewData["Title"] = "Edit";
}
<form method="post" action="/Company/SaveEdit/@Model">
    <div class="mb-3" method="post">
        <label for="Name" class="form-label">Name</label>
        <input type="text" value="@Model?.Name" name="Name" class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label for="WepSite" class="form-label">WepSite</label>
        <input type="text" value="@Model?.Wepsite" name="Wepsite" class="form-control" id="WepSite">
    </div>
    <div class="mb-3">
        <label for="Industry" class="form-label">Industry</label>
        <input type="text" value="@Model?.Industry" name="Industry" class="form-control" id="Industry">
    </div>
    <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input type="text" value="@Model?.Locations" name="Locations" class="form-control" id="Locations">
    </div>
    <div class="mb-3">
        <label for="Discription" class="form-label">Discription</label>
        <input type="text" value="@Model?.Discription" name="Discription" class="form-control" id="Discription">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" value="@Model?.Email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="Password" value="@Model?.Password" name="Password" class="form-control" id="Password">
    </div>
    <button type="submit" value="Edite" class="btn btn-primary">Submit</button>
</form>
<a href="/Company/Index" class="btn btn-primary">Back</a>
